<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
</head>
<body>
	<footer class="blog-footer bg-inverse" data-th-fragment="footer">
		<div class="container">
			<p class="m-0 text-center text-white">
				© 2020 <a href="https://www.yekongle.top">yekongle.top</a>
			</p>
		</div>

		<!-- JavaScript -->
		<script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
		<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="../js/main.js" th:src="@{/js/main.js}"></script>
		<script src="../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
		<script src="../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
	</footer>

</body>
</html>